 body{
    background: #000;
 }

 /* MODal CSs ----------------------------------------- */
  /* The Modal (background) */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width:20%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Button Group */
.button-group {
  
  margin-top: 20px;
}

.button-group button:first-child {
  margin-right: 10px;
}

/* <!-- CSS --> */
#dropdown {
  width: 200px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
 border: none;
  margin-right: 10px;
  background: none;
 
}
